extends html
block content
    ul#messages.list-group
        li.list-group-item.active
            h4.list-group-item-heading Chat History
        each m in msgs
            li.list-group-item()=m.name+' said: '+m.msg
        li.divider
    form(action='')
        .form-group
            .input-group
                input#m.form-control(autocomplete='off')
                .input-group-addon
                    i.fa.fa-envelope.frmSubmit()
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script.
        var socket = io();
        $('.frmSubmit').click(function(){
            $(this).closest(('form')).submit();
        });
        $('form').submit(function(){
            if ($('#name').val()!=='' && $('#m').val()!=='') {
                socket.emit('chat message', {msg: $('#m').val(), name: $('#name').val()});
                $('#m').val('');
            }
            return false;
        });
        socket.on('chat message', function(msg){
            $('#messages').append($('<li class="list-group-item">').text(msg.name+' says: '+msg.msg));
        });
