form
    .form-group
        .input-group
            .input-group-addon
                i.fa.fa-user
            input.form-control(name="username",type="email")
    .form-control
        .input-group
            .input-group-addon
                i.fa.fa-lock
            input.form-control(name="password",type="password")
